<!DOCTYPE html>
<html>
<head>
<title>NIU智能装机系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/javascript" src="../../static/js/jquery.min.js"></script>

<link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script>
	function change()
{
   var x = document.getElementById("first");
   var y = document.getElementById("second");
   y.options.length = 0; // 清除second下拉框的所有内容
   if(x.selectedIndex == 1)
   {
		y.options.add(new Option("H710"));
		y.options.add(new Option("H310", false, true));
   }
 
   if(x.selectedIndex == 2)
   {
		y.options.add(new Option("LSI2208"));
		y.options.add(new Option("LSI2308", false, true));
   }
   if(x.selectedIndex == 3)
   {
        y.options.add(new Option("LSI2308"));
		y.options.add(new Option("LSI2208"));
   }
   if(x.selectedIndex == 4)
   {
        y.options.add(new Option("P840"));
		y.options.add(new Option("P840AR"));
   }
   if(x.selectedIndex == 5)
   {
        y.options.add(new Option("LSI2308"));
		y.options.add(new Option("LSI2208"));
   }
 
}
function change_os()
{
   var x = document.getElementById("first_os");
   var y = document.getElementById("second_os");
   y.options.length = 0; // 清除second下拉框的所有内容
   if(x.selectedIndex == 2)
   {
		y.options.add(new Option("7.4"));
		y.options.add(new Option("7.5", false, true));
		y.options.add(new Option("7.6"));
		y.options.add(new Option("7.8"));
		y.options.add(new Option("6.5"));
		y.options.add(new Option("6.6"));
		y.options.add(new Option("6.7"));
		y.options.add(new Option("6.8"));
		y.options.add(new Option("6.9"));
		y.options.add(new Option("6.10"));
   }
 
   if(x.selectedIndex == 3)
   {
		y.options.add(new Option("7.4"));
		y.options.add(new Option("7.5", false, true));
		y.options.add(new Option("7.6"));
		y.options.add(new Option("7.8"));
		y.options.add(new Option("6.5"));
		y.options.add(new Option("6.6"));
		y.options.add(new Option("6.7"));
		y.options.add(new Option("6.8"));
		y.options.add(new Option("6.9"));
		y.options.add(new Option("6.10"));
   }
   if(x.selectedIndex == 1)
   {
        y.options.add(new Option("16.04"));
		y.options.add(new Option("18.04"));
		y.options.add(new Option("20.04"));
   }
}

</script>

</head>
<body>

<div class="main">
	<h1>NIU智能装机系统</h1>
	<div class="agileinfo_main_grid">
		<form method="post" action="{% url 'check' %}">
			{% csrf_token %}
			<div class="w3agile_budget">
				<h4>服务器信息</h4>
	
			<div class="styled-input">
				<select id="first" name="pinpai" onChange="change()">
                    <option>品牌</option>
                    <option>DELL</option>
                    <option>曙光</option>
                    <option>浪潮</option>
                    <option>惠普</option>
                    <option>华为</option>
                </select>
                <span></span>
            </div>
            <div class="styled-input">
                <select id="second" name="xinghao">
                    <option>阵列卡型号</option>
                    <option>H710</option>
                    <option>H310</option>
                </select>
                <span></span>
			</div>
            </div>
			<div class="clear"></div>

			<div class="w3agile_budget">
				<h4>阵列详情</h4>

			<div class="styled-input w3_styled_input_textarea">
				<textarea name="raid" placeholder="填入raid信息"></textarea>
				<span></span>
			</div>
		    </div>
			
			<div class="clear"></div>
			<div class="w3agile_budget">
				<h4>系统信息</h4>
		    <div class="styled-input">
		    	<select id="first_os" name="system" onChange="change_os()">
		    		<option>系统</option>
                    <option>Ubuntu</option>
                    <option>Centos</option>
                    <option>RedHat</option>
                </select>
            </div>
            <div class="styled-input">
                <select id="second_os" name="banben">
                    <option>版本</option>
                    <option>16.04</option>
                    <option>18.04</option>
                    <option>20.04</option>
                    </select>
		    </div>
			</div>

			<div class="clear"></div>
			<div class="w3agile_budget">
				<h4>系统语言</h4>
			<div class="styled-input">
				<input type="radio" name="lang" value="cn" checked><h4>中文</h4>
				<span></span>
			</div>
			<div class="styled-input">
                <input type="radio" name="lang" value="en"><h4>英语<h4>
                <span></span>
			</div>
			</div>
			<div class="clear"></div>
			<div class="w3agile_budget">
				<h4>分区信息</h4>
			<div class="styled-input">
				<input type="radio" name="fangan" value="moren" checked><h4>默认分区</h4>
				<span></span>
			</div>
			<div class="styled-input">
                <input type="radio" name="fangan" value="zidingyif"><h4>自定义分区</h4>
                <span></span>
			</div>
			</div>
			<div class="clear">
			<div class="styled-input">
				<input type="text" name="boot" placeholder="boot分区" value=""/>
				<span></span>
			</div>
			<div class="styled-input">
				<input type="text" name="swap" placeholder="swap分区" value="" />
				<span></span>
			</div>
			<div class="styled-input">
				<input type="text" name="root" placeholder="/分区,如分配剩余大小，填写“1”" value="" />
				<span></span>
			</div>
			
			<div class="clear"></div>
			<div class="w3agile_budget">
				<h4>其他分区信息</h4>
			<div class="styled-input">
				<input name="qitan01" type="text" placeholder="分区名" value="">
			</div>
			<div class="styled-input">
                <input name="qitas01" type="text" placeholder="分区大小" value="">
			</div>	
			</div>

			<div class="clear">

			<div class="w3agile_budget">
				<h4>软件包信息</h4>
			<div class="styled-input">
			<input type="radio" name="package" value="morenp" checked><h4>默认</h4>
			<span></span>
		    </div>
		    <div class="styled-input">
            <input type="radio" name="package" value="zidingyip"><h4>自选</h4>
            <span></span>	
			</div>
			</div>

			<div class="clear"></div>
			<div class="w3agile_budget">
				<h4>自选软件包</h4>
				<div class="styled-input">
					<input type="text" name="zidingyishuru" placeholder="填写自选软件包" value="">
					<span></span>
				</div>
			</div>

			<div class="clear"></div>
		
			<input type="submit" value="提交" />
		</form>
	</div>
</div>

</body>
</html>