<!DOCTYPE html>
<html lang="en">
<head>
   <title>NIU智能装机系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/javascript" src="../../static/js/jquery.min.js"></script>

<link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<div class="main">
<body>
已生成自动部署文件，服务器连接网线，pxe启动<br>
系统部分信息如下：<br>
系统：{{ system }}<br>
版本：{{ banben }}<br>
语言：{{ lang }}<br>
{% if fangan == "zidingyif" %}
    分区信息：<br>
    boot:{{ boot }}M<br>
    swap:{{ swap }}M<br>
    /:{{ root }}M<br>
    其他：{{ qitan01 }}:{{ qitas01 }}M<br>
{% endif %}
{% if fangan == "moren" %}
    分区：默认<br>
{% endif %}
<a href="{% url 'shouye' %}">返回</a>
</body>
</div>
</html>